* {
    margin: 0;
    padding: 0;
}

/* BODY */

body {
    background-color: hsl(0, 18%, 46%);
}

/*IMÃGENES

.section__img {
    background-color: rgba(85, 48, 48, 0.473);
    padding: 4px;
    margin: .5em;
    display: flex;
}

.img__container {
    display: flex;

}

.imagenes {
    width: 29.1em;
    height: 29em;
    object-fit: cover;
}
*/



/* FOOTER
footer {
    bottom: 0;
    width: 100%;
    display: flex;
}

.pie {
    background-color: rgb(85, 48, 48);
    height: 3em;
    color: white;
    padding: 5px;
    justify-content: center;
    position: fixed;
    margin-bottom: 0;
    font-size: 1em;

}

.pie__container {
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 2em;
}

.pie__p {
    border-right: 2px solid;
    padding-right: 2em;
    font-size: 1.2em;
}

.pie__ul {
    display: flex;
    gap: 10px;
    font-size: 1.2em;

}


.pie__ul a {
    list-style: none;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    border-radius: 2em;
    transition: all .3s;
    padding: 7px;
    font-size: .9em;
    font-style: italic;
}

.pie__ul a:hover {
    text-decoration: underline;
    background-color: #fff;
    opacity: 1;
    color: #000;
    border-radius: 2em;
}
*/



@media screen and (max-width: 768px) {
    * {
        padding: 0;
        margin: 0;
        font-size: 14px;
    }

    h2 {
        font-size: 20px !important;
    }

    p {
        font-size: 14px !important;
    }

    img {
        width: 600px !important;
        height: 400px !important;
    }
}


.navbar {
    background-color: rgb(85, 48, 48);

}

.navbar-brand, .nav-link {
    color: #fff;
}

div > h2 {
    font-size: 50px;

}

div > p {
    font-size: 20px;
    font-style: italic;
}

div > img {
    width: 700px;
    height: 650px;
}


.btn {
    margin: 0 auto;
    transition: all .5s;
}

.btn:hover {
    transform: scale(.9);
}