.form_container {

    background-color: rgb(102, 59, 59);
    color: #fff;
    padding: 1em;


    h1 {
    font-style: italic;
}

    div .btn {
    background-color: transparent;
    border: 2px solid #fff;
    transform: scale(1);

}


    textarea {
    border-radius: 10px;
}

}