.form_container {

    background-color: $secondaryBgColor;
    color: #fff;
    max-width: 600px;
    border-radius: 20px;

    h1 {
        font-style: italic;
        font-size: $h1Size;
    }

    p {
        font-size: 20px;
    }

    label {
        font-size: 20px;

    }

    .input_form {
        background-color: transparent;
        color: #fff;
        transition: all .4s;

        &:focus {
            width: 50%;
        }

    }

    .check {
        border-radius: 100%;
        background-color: transparent;
        transform: scale(.9);
        border: 1px solid #fff;

        
    }

    .check-text {
        font-size: 20px;
    }

    .btn {
        background-color: transparent;
        border: 2px solid #fff;
        transform: scale(1);
        cursor: pointer;
        transition: all .5s;

        &:hover {
            transform: scale(.9);
        }
    }



}