.form_container {

    background-color: rgb(95, 57, 57);
    color: #fff;
    max-width: 600px;
    border-radius: 20px;

    h1 {
    font-style: italic;
    font-size: 45px;
    }

    p {
        font-size: 16px;
    }

    label {
        font-size: 25px;
        
    }

    input {
        background-color: transparent;
        color:#fff;
        transition: all .3s;
           &:focus {
            background-color: transparent;
            border: 1px solid #fff;
            color: #fff;
           }
    }

    .check {
        border-radius: 100%;
        transform: scale(.9);
        border: 1px solid #fff;
    }

    .check-text {
        font-size: 20px;
    }

    .btn {
    background-color: transparent;
    border: 2px solid #fff;
    transform: scale(1);
    cursor: pointer;
    transition: all .5s;

    &:hover {
        transform: scale(.9);
    }
}



}