#info {
    background-color: $secondaryBgColor;
    border-radius: 20px;

    h1 {
        font-size: $h1Size;
        font-style: italic;
        border-radius: 30px;
        color: #fff;
    }

    p {
        font-size: 20px;
        color: #fff;

    }

    ul {
        font-size: 20px;
        font-style: normal;
        list-style: none;
        color: #fff;
        li {
            font-style: italic;
        }
    }

    a {
        color: #333;
        text-decoration: none;

        &:hover {
            color: #fff;
            text-decoration: underline;
        }
    }

    h3 {
        font-size: 30px;
        color: #fff;
    }

    .map {
        width: 450px;
        height: 250px;
        border-radius: 10px;
    }


}