/*INICIO*/

#section1 {
    
    h1 {
    font-size: 50px;

}

    p {
    font-size: 30px;
    font-style: italic;   
}

    img {
    width: 700px;
    height: 650px;
    box-shadow: 1px 13px 80px #000;
    cursor: pointer;
    transition: all .5s;
}

    img:hover {
    transform: scale(1.05);
    border-radius: 0%;

}

}


.btn {
    width:100%;
    transition: all .5s;
    background-color: rgb(59, 53, 53);
    color: #fff;
    font-size: 20px;


    &:hover {
    transform: scale(.9);
    background-color: #fff !important;
    color: black !important;
}

}



#section2 {

    margin-top: 2em;
    background-color: hsl(0, 24%, 38%);
    border-radius: 10px;

    h2 {
        font-size: 45px;
    }

    p {
        font-size: 25px;
    }

    img {
    width: 550px;
    height: 400px;
    box-shadow: 1px 13px 80px #000;
    cursor: pointer;
    transition: all .5s;
}

    img:hover {
    transform: scale(1.1);
    border-radius: 0%;

}

    a {
        font-size: 15px;
        width: 200px;

        &:hover {
            transform: scale(1);
        }

        
    }   

}