#menu {

    background-color: $primaryBgColor;
    border-radius: 20px;
    margin-top: 30px;

    h1 {
        font-size: $h1Size;
        font-style: italic;
        border-radius: 30px;
        color: #fff;
    }


    a {
        background-color: transparent;
        color: #fff;
        margin-top: 20px;
        border: 1px solid white;

        &:hover {
            transform: scale(1);
        }

    }


    .cards-container {
        width: 100%;
        border-radius: 20px;
    }


    .card {
        background-color: transparent;
        width: 500px !important;
        color: #fff;
        border: none;
        margin: 30px;
        margin-top: 20px;
        transition: all .5s;


        &:hover {
            background-color: rgb(85, 48, 48);
            transform: scale(1.1);
            cursor: pointer;
        }


        h2 {
            font-size: 30px;
            padding: 5px;
            margin-bottom: 20px;
        }

        p {
            font-size: 20px;
            padding: 15px;
        }


        img {
            width: 100%;
            height: 350px;
            display: block;
            margin: auto;
            box-shadow: 1px 15px 50px black;
            margin-bottom: 8px;


        }
    }

}