@import "body";
@import "inicio";
@import "galeria";
@import "menu";
@import "info";
@import "contacto";





/*MEDIA QUERIES*/



/*MOBILE-TABLETS*/

@media (max-width:991px) {

    nav {
        font-size: 30px;
    }



    #section1 {

        h1 {
            font-size: 80px !important;
        }

        p {
            font-size: 50px !important;
        }

        img {
            width: 900px !important;
            height: 700px !important;
            box-shadow: 1px 13px 20px black;
        }

        .btn {
            font-size: 30px;
            width: 100% !important;
        }

    }

    #section2 {

        margin-top: 100px !important;

        h2 {
            font-size: 70px;
        }

        p {
            font-size: 40px;
        }

        img {
            width: 700px !important;
            height: 500px !important;
            margin-top: 30px !important;
            box-shadow: 1px 13px 20px black;
        }

        a{
            font-size: 25px;
            width: 300px;
            margin: 0 auto;
        }




    }



    footer {
        text-align: center;

        p {
            font-size: 22px !important;
        }
    }



    /*-----------MENU------------*/
    #menu {

        h1 {
            font-size: 70px;
        }

        h3 {
            font-size: 35px;
        }

        .cards-container {

            flex-wrap: wrap;

            .card {
                width: 100% !important;
                margin: 30px
            }

            h5 {
                font-size: 50px;
                text-align: center;
                border-bottom: 2px solid !important;
            }


            p {
                font-size: 35px !important;
                text-align: center;
                padding-top: 10px;
            }


            img {
                margin: 0 auto;
                padding: 10px;
                width: 700px !important;
                height: 500px !important;
                border-radius: 30px;
                box-shadow: 1px 13px 20px black;
            }


            a {
                font-size: 30px !important;
                border: 1px solid white;

            }



        }

    }


    /*-----------GALERIA-------*/
    #galeria {

        h1 {
            font-size: 70px;
        }

        img {
            width: 900px !important;
            height: 800px !important;
            margin-bottom: 20px;
        }

    }



/*----------CONTACTO---------*/
#contact {

    width: 100%;
    height: 100%;
    border-radius: 20px;

    h1 {
        font-size: 60px;
    }

    p {
        font-size: 25px;
    }

    label {
        font-size: 35px;
    }

    input {
        font-size: 25px;
    }

    .check-container {
        margin-top: 40px;
    }

    .check{
        margin-top: 10px !important;
    }

    .check-text {
        font-size: 25px;
    }

    .btn {
        font-size: 25px;
    }

    





}



}